.navSection {
    position: absolute;
    top: 0;
    width: 100%;
}

.cartComponent {
    margin-top: 150px;
    display: flex;
}

.cardContainerCart {
    display: flex;
    flex-direction: column;
    gap: 10px;
}