li {
    list-style: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropDownContainer {
    position: relative;
}

.dropDown {
    position: absolute;
    top: 30px;
    right: -10px;
    width: max-content;
    z-index: 999;
}

.dropDown button {
    display: flex;
    width: 170px;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cartItems {
    position: relative;
}

.cartItems span {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: -19px;
}