li {
    list-style: none;
}

.navBar {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropDownContainer {
    position: relative;
}

.dropDown {
    position: absolute;
    top: 45px;
    right: 0px;
    width: max-content;
    z-index: 999;
    animation: slide .3s ease-in;
}

@keyframes slide {
    0% {opacity: 0; transform: translateY(-80px);}
    50% {opacity: .5; scale: 1.1;}
    100% {opacity: 1; transform: translateY(0px);}
}

.dropDown button {
    display: flex;
    width: 170px;
    justify-content: center;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cartItems {
    position: relative;
}

.cartItems span {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -15px;
    top: -19px;
}