.cartCard {
    padding: 10px;
    background-color: #ffff;
    display: flex;
    gap: 10px;
    width: 600px;
    height: 340px;
    position: relative;
    justify-content: center;
}

.cardImage {
    width: 200px;
    height: 250px;
}

.cardImage img {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    height: 250px;
    object-fit: contain;
}

.productButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.productButtons button {
    border: 2px solid black;
}

.productTitle {
    margin-bottom: 20px;
}

.productInfos {
    display: flex;
    flex-direction: column;
}

.productPrice {
    position: absolute;
    bottom: 20px;
}

.removeBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: #ffff;
}

.selectBtn {
    display: flex;
    gap: 10px;
}

.selectBtn img {
    width: 15px;
}

.cartTotal {
    padding: 10px;
    position: absolute;
    bottom: -20px;
    right: 10px;
}